@model IDGS904_tema1.Models.Puntos

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<div class="row div col-lg-6">
    <h1>El resultado es: @Html.DisplayFor(model => Model.Res)</h1>
</div>
